@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}
body {
  background: #04012c;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
